@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a style="color: black" href="https://cdn.discordapp.com/attachments/767439279038791686/1256371090993709157/IMG_0383.png?ex=669ed8c2&is=669d8742&hm=0fa929cbbbce9e2a2da53478410fa2b9c201cbb4e67b865ea6354dad3cf07d03&" target="_blank">TMFUPOTI</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
